//font
@import url('https://fonts.googleapis.com/css?family=Raleway');

//Extends
@import "extends/variables";
@import "extends/breakpoints";
@import "extends/global";

//Components
@import "components/hd";
@import "components/desktop";


body,html{
	margin: 0;
	padding:0;
	width:100%;
	height:100%;
	font-family: 'Raleway', sans-serif;
}
